@charset "utf-8";

.shopping {
	width: 962px;
	margin:0 auto;
	font-size: 14px;
}

.shop-a {
	width: 962px;
	height: 70px;
	border-bottom: solid 1px #414141;
}

.shop-left {
	width: 400px;
	height: 70px;
	line-height: 100px;
	float: left;
	font-size: 22px;
	color: #414141
}

.shop-right {
	width: 90px;
	height: 70px;
	line-height: 100px;
	display: block;
	color: #414141;
	font-size: 14;
	float: right;
	text-align: right;
	background: url(../../images/cart01.png) no-repeat scroll 0 42px;
}

.shopping_cart {
	width: 962px;
	border-collapse: collapse;
	font-size: 16px;
	color: #414141;
	border-bottom: solid 1px #414141;
	text-align: center;
}

.shopping_cart a {
	color: #414141;
	cursor: pointer;
}

.shopping_cart_title {
	border-bottom: solid 1px #414141;
	height: 30px;
	line-height: 30px;
}

.shopping_cart_img {
	height: 100px;
	display: block;
	float: left;
	margin: 10px 15px 10px 10px;
}

.shopping_cart_name {
	display: table-cell;
	padding-top: 40px;
	text-align: left;
}

.cart_total {
	height: 40px;
    line-height: 50px;
    font-size: 20px;
    color: #414141;
    text-align: left;
    width: 260px;
    float: right;
    position: relative;
    margin-top: 15px;
}

.cart_total font {
	font-family: Adobe Caslon Pro;
}

.cart_button1 {
	width: 110px;
    height: 40px;
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    -webkit-appearance: none;
    background: #c71f2c;
    outline: none;
    border: none;
    text-align: center;
    line-height: 38px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.cart_button2 {
	width: 100px;
	height: 30px;
	display: block;
	float: right;
	margin: 30px 20px 20px 0;
}

.shopping_cart_sl {
	width: 68px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #414141;
	margin: 0 3px;
}

.help-right {
	width:100%; 
	font-size:12px;
}

.help-nav {
	font-size: 18px;
	line-height: 30px;
}


.help-s {
	height: 60px;
}

.jia_jian {
	cursor: pointer;
}

.zs_xqmore {
	width: 110px;
	height: 55px;
	line-height: 55px;
	font-size: 16px;
	color: #414141;
	background: url(../images/zs_xq03.png) no-repeat scroll 100% 22px;
}

.zs_xqmore_ul {
	list-style: none;
	width: 972px;
	padding: 0;
	margin: 0 auto;
	font-size: 16px;
}

.zs_xqmore_ul li {
	width: 314px;
	height: 280px;
	float: left;
	margin-right: 10px;
}

.zs_xqmore_ul li .img {
	width: 314px;
	height: 220px;
	margin-bottom: 5px;
}

.zs_xqmore_ul li .li_left {
	width: 100px;
	height: 30px;
	line-height: 32px;
	text-align: center;
	border: solid 1px #414141;
	background: #414141;
	display: block;
	float: left;
	margin-left: 42px;
	color: #fff;
}

.zs_xqmore_ul li .li_right {
	width: 100px;
	height: 30px;
	line-height: 32px;
	text-align: center;
	border: solid 1px #414141;
	background: #fff;
	display: block;
	float: right;
	margin-right: 42px;
	color: #414141;
}

.order-nav {
	height: 80px;
	line-height: 100px;
	font-size: 22px;
	font-weight: bold;
	color: #414141
}

.order-left {
	width: 700px;
	background-color: #f1f2f2;
}

.order-per {
	width: 650px;
	height: 220px;
	margin-left: 20px;
}

.per-nav {
	height: 50px;
	line-height: 50px;
	font-weight: bolder;
}

.hide {
	width: 600px;
	height: 200px;
	margin-left: 50px;
	margin-top: 20px;
	font-size: 14px;
	display: none;
}

.save {
	float: right;
	margin-top: 10px;
}

.Cancel {
	width: 110px;
	float: right;
	margin-top: 10px;
}

.order-del {
	width: 660px;
	margin-left: 20px;
	margin-top: 30px;
}

.chose {
	height: 50px;
	line-height: 50px;
	font-weight: bolder;
}

.order-font {
	height: 320px;
	background-color: #fff;
	margin-top: 30px;
	border: solid 1px #fff;
	padding-left: 20px;
	font-size: 14px;
}

.order-other {
	width: 660px;
	margin-left: 20px;
	margin-top: 30px;
	font-size: 14px;
}

.other-info {
	height: 50px;
	line-height: 50px;
	font-weight: bolder;
}

.submit {
	height: 130px;
	width: 200px;
	margin-top: 30px;
	margin-left: 250px;
}
.shop-left{font-family: "微软雅黑";}
footer{bottom: 0px;}